.section-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
	width: 90vw;
	margin: auto;
}

.text-container {
	height: 50vh;
}

.section-1-header {
	font-size: 4vw;
	font-weight: 300;
	max-width: 20vw;
}

.create-word {
	background:  -webkit-radial-gradient( #F2952F, rgba(222, 125, 10, 0.62));
	filter: drop-shadow(1px 1px 1px rgba(42, 41, 41, 0.55));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.decor-container {
	background-image: url("/images/main-image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 90%;
	width: 50%;
	height: 80%;
	filter: drop-shadow(2px 1px 5px #2a2929);
	filter: brightness(90%);
}

@media screen and (max-width: 800px) {
	
	.section-1 {
		display: block;
	}

	.text-container {
		height: 200px;
	}

	.section-1-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 250px;
		font-size: 30px;
		text-align: left;
		max-width: 90vw;
	}

	.decor-container {
		width: 90vw;
		height: 50vh;
		margin-top: 20px;

	}
}